<div style="height: 100vh;">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
             <span>Flight Booking Application</span>
                 <span class="example-fill-remaining-space"></span>
                 <span class="align-center"></span>
                 <span class="example-spacer"></span>
                 <div fxShow="true" fxHide.lt-md="true">
                    <a mat-button [routerLink]="'/flightsearch'"> Book Flight </a>
                    <a mat-button [routerLink]="'/managebooking'"> Cancel Booking </a>
                    <a mat-button [routerLink]="'/bookinghistory'"> Booking History </a>
                    <button mat-raised-button (click)="logout()" color="link">Logout</button>
                </div>
              </mat-toolbar-row>
           </mat-toolbar>
      
         
          <div align="center">
             <mat-card class="example-card">
                <header >
                  <mat-card-title>Search Booking History by PNRNumber and EmailId</mat-card-title>
                </header>
                <mat-card-content>
                  <form class="example-form" [formGroup]="myForm" novalidate fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
                    <table class="example-full-width" cellspacing="0">
                      <tr>
                        <td> <label>PNR Number: </label></td>
                        <td>
                          <mat-form-field class="example-full-width">
                          <input matInput type="text" placeholder="pnrnumber" formControlName="pnrnumber">
                          <!-- <mat-error *ngIf="myError('username', 'required')">Username is required</mat-error> -->
                          </mat-form-field>
                        </td>
                      </tr>
                     
                    </table>
                  </form>
               </mat-card-content>
                <mat-card-actions>
                  <button mat-raised-button (click)="GetBookingDetailsPnrNo(myForm.value)" color="primary">Search Details</button>
                 
                </mat-card-actions>
              </mat-card>
            </div>
         
    
         <div class="row" style="height:400px; overflow-y: scroll;">
           
          <table class="table table-striped">
            <thead>
             <tr>
               <td>Airline Name</td>
               <td>Flight Number</td>
               <td>PNR Number</td>
               <td>Passenger Name</td>
               <td>Gender</td>
               <td>Age</td>
               <td>Contact-No</td>
               <td>Email Id</td>
               <td>Total Price</td>
               <td>Onward SeatNo</td>
               <td>Return SeatNo</td>
               <td>Onward Date</td>
               <td>Return Date</td>
              </tr>
            </thead>
            <tbody>
             <tr *ngFor="let d of ticketpnr;let i=index;" >
               <td>{{d.airlinename}} </td>
               <td>{{d.flightId}} </td>
               <td>{{d.pnrNumber}}</td>
               <td>{{d.firstName + ' ' +d.lastName}}</td>
               <td>{{d.gender}}</td>
               <td>{{d.age}}</td>
               <td>{{d.contactNo}}</td>
               <td>{{d.emailId}}</td>
               <td>{{d.totalPrice}}</td>
               <td>{{d.onwardseat}}</td>
               <td>{{d.returnseat}}</td>
               <td>{{d.onwardDate}}</td>
               <td>{{d.returnDate}}</td>
              <td>
                <mat-card-actions>
                <button mat-raised-button  (click)="RowSelected(d)"  color="primary" >Download</button> 
                
              </mat-card-actions>
            </td>
            </tr>
            </tbody>
          </table>
       </div>
       <div align="center">
        <mat-card class="example-card">
          
           <mat-card-content>
             <form class="example-form" [formGroup]="myFormName" novalidate fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
               <table class="example-full-width" cellspacing="0">
                 <tr>
                   <td> <label>Email Id: </label></td>
                   <td>
                     <mat-form-field class="example-full-width">
                     <input matInput type="text" placeholder="emailId" formControlName="emailId">
                     <!-- <mat-error *ngIf="myError('username', 'required')">Username is required</mat-error> -->
                     </mat-form-field>
                   </td>
                 </tr>
                
               </table>
             </form>
          </mat-card-content>
           <mat-card-actions>
             <button mat-raised-button (click)="GetBookingDetailsemailid(myFormName.value)" color="primary">Search Details</button>
            
           </mat-card-actions>
         </mat-card>
       </div>
    

    <div class="row" style="height:400px; overflow-y: scroll;">
      
     <table class="table table-striped">
       <thead>
        <tr>
          <td>Airline Name</td>
          <td>Flight Number</td>
          <td>PNR Number</td>
          <td>Passenger Name</td>
          <td>Gender</td>
          <td>Age</td>
          <td>Contact-No</td>
          <td>Email Id</td>
          <td>Total Price</td>
          <td>Onward SeatNo</td>
          <td>Return SeatNo</td>
          <td>Onward Date</td>
          <td>Return Date</td>
         </tr>
       </thead>
       <tbody>
        <tr *ngFor="let d of ticketemail;let i=index;" >
          <td>{{d.airlinename}} </td>
          <td>{{d.flightId}} </td>
          <td>{{d.pnrNumber}}</td>
          <td>{{d.psngerFirstName + ' ' +d.psngerLastName}}</td>
          <td>{{d.gender}}</td>
          <td>{{d.age}}</td>
          <td>{{d.contactId}}</td>
          <td>{{d.emailId}}</td>
          <td>{{d.totalPrice}}</td>
          <td>{{d.onwardSeatNo}}</td>
          <td>{{d.returnSeatNo}}</td>
          <td>{{d.onwardDate}}</td>
          <td>{{d.returnDate}}</td>
         <td>
           <mat-card-actions>
        
         </mat-card-actions>
       </td>
       </tr>
       </tbody>
     </table>
  </div>

    </div>
    