<!-- <ul>
  <li role="presentation" routerLinkActive="active" routerlinkAction="active" >
    <a routerLink="">LoginComponent</a>

  </li>
  <li role="presentation" routerLinkActive="active" routerlinkAction="active" >
    <a routerLink="userregistration">userregistration</a>

  </li>
  <li role="presentation" routerLinkActive="active" routerlinkAction="active" >
    <a routerLink="userregistration">flight</a>

  </li>
</ul> -->
<!-- <app-bookinghistory></app-bookinghistory>  -->
<!-- <app-flightbooking></app-flightbooking>
<app-login></app-login>  -->
<router-outlet></router-outlet>
 <!-- <app-userregistration></app-userregistration> -->

 